body {
    margin: 0px;
}
#main-elements-1 {
    text-align: center;
    padding-top: 150px;
}
#navigation {
    list-style-type: none;
}
#right {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
#left {
    display: flex;
    list-style-type: none;
}
.right {
    padding-left: 80px;
    padding-right: 80px;
}
.left {
    padding-right: 80px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer-left {
    display: flex;
    list-style-type: none;
}
#footer-right {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.footer-lefts {
    padding-right: 80px;
}
.footer-rights {
    padding-left: 80px;
}
input {
    width: 50%;
    border-color: white;
    box-shadow: none;
    border: none;
}
#searchbarred {
    width: 50%;
}
#main-elements-2 {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 50px;
}
.material-icons {
    color: gray;
}
#two-buttons {
    display: flex;
    justify-content: center;
}

